<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>RegisterCompany</servlet-name>
        <servlet-class>org.azri.estore.servlet.RegisterCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>org.azri.estore.servlet.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyLogin</servlet-name>
        <servlet-class>org.azri.estore.servlet.CompanyLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostageRate</servlet-name>
        <servlet-class>org.azri.estore.servlet.AddPostageRate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCustomer</servlet-name>
        <servlet-class>org.azri.estore.servlet.RegisterCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLogin</servlet-name>
        <servlet-class>org.azri.estore.servlet.CustomerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>org.azri.estore.servlet.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReview</servlet-name>
        <servlet-class>org.azri.estore.servlet.AddReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProduct</servlet-name>
        <servlet-class>org.azri.estore.servlet.ViewProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductDetails</servlet-name>
        <servlet-class>org.azri.estore.servlet.ViewProductDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCart</servlet-name>
        <servlet-class>org.azri.estore.servlet.ShoppingCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCompany</servlet-name>
        <servlet-class>org.azri.estore.servlet.ViewCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCompany</servlet-name>
        <servlet-class>org.azri.estore.servlet.UpdateCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPostage</servlet-name>
        <servlet-class>org.azri.estore.servlet.ViewPostage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePostage</servlet-name>
        <servlet-class>org.azri.estore.servlet.UpdatePostage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>org.azri.estore.servlet.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCategory</servlet-name>
        <servlet-class>org.azri.estore.servlet.ViewCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategory</servlet-name>
        <servlet-class>org.azri.estore.servlet.UpdateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomer</servlet-name>
        <servlet-class>org.azri.estore.servlet.UpdateCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomer</servlet-name>
        <servlet-class>org.azri.estore.servlet.ViewCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrder</servlet-name>
        <servlet-class>org.azri.estore.servlet.ManageOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WSServlet_OrderStatus</servlet-name>
        <servlet-class>org.azri.estore.webservice.OrderStatusImpl</servlet-class>
        <load-on-startup>1</load-on-startup>
        </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>org.azri.estore.servlet.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductDetailsCompany</servlet-name>
        <servlet-class>org.azri.estore.servlet.ViewProductDetailsCompany</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterCompany</servlet-name>
        <url-pattern>/RegisterCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/AddCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyLogin</servlet-name>
        <url-pattern>/CompanyLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostageRate</servlet-name>
        <url-pattern>/AddPostageRate</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>RegisterCustomer</servlet-name><url-pattern>/RegisterCustomer</url-pattern></servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLogin</servlet-name>
        <url-pattern>/CustomerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReview</servlet-name>
        <url-pattern>/AddReview/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProduct</servlet-name>
        <url-pattern>/ViewProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductDetails</servlet-name>
        <url-pattern>/ViewProductDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCart</servlet-name>
        <url-pattern>/ShoppingCart/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCompany</servlet-name>
        <url-pattern>/ViewCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCompany</servlet-name>
        <url-pattern>/UpdateCompany/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPostage</servlet-name>
        <url-pattern>/ViewPostage/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePostage</servlet-name>
        <url-pattern>/UpdatePostage/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCategory</servlet-name>
        <url-pattern>/ViewCategory/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategory</servlet-name>
        <url-pattern>/UpdateCategory/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomer</servlet-name>
        <url-pattern>/UpdateCustomer/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomer</servlet-name>
        <url-pattern>/ViewCustomer/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrder</servlet-name>
        <url-pattern>/ManageOrder/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WSServlet_OrderStatus</servlet-name>
        <url-pattern>/OrderStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductDetailsCompany</servlet-name>
        <url-pattern>/ViewProductDetailsCompany</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1800
        </session-timeout>
    </session-config>
    <welcome-file-list>
	<welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.rmi.ServerException</exception-type>
        <location>/exception/exception.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.NumberFormatException</exception-type>
        <location>/exception/exception.jsp</location>
    </error-page>
    <ejb-ref>
        <ejb-ref-name>ejb/CompanyProcessBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.azri.estore.ejb.CompanyProcessRemoteHome</home>
        <remote>org.azri.estore.ejb.CompanyProcessRemote</remote>
        <ejb-link>eStore-EJB.jar#CompanyProcessBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/CategoryProcessBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.azri.estore.ejb.CategoryProcessRemoteHome</home>
        <remote>org.azri.estore.ejb.CategoryProcessRemote</remote>
        <ejb-link>eStore-EJB.jar#CategoryProcessBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/PostageProcessBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.azri.estore.ejb.PostageProcessRemoteHome</home>
        <remote>org.azri.estore.ejb.PostageProcessRemote</remote>
        <ejb-link>eStore-EJB.jar#PostageProcessBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/CustomerProcessBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.azri.estore.ejb.CustomerProcessRemoteHome</home>
        <remote>org.azri.estore.ejb.CustomerProcessRemote</remote>
        <ejb-link>eStore-EJB.jar#CustomerProcessBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/ProductProcessBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.azri.estore.ejb.ProductProcessRemoteHome</home>
        <remote>org.azri.estore.ejb.ProductProcessRemote</remote>
        <ejb-link>eStore-EJB.jar#ProductProcessBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/ReviewProcessBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.azri.estore.ejb.ReviewProcessRemoteHome</home>
        <remote>org.azri.estore.ejb.ReviewProcessRemote</remote>
        <ejb-link>eStore-EJB.jar#ReviewProcessBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/OrderProcessBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.azri.estore.ejb.OrderProcessRemoteHome</home>
        <remote>org.azri.estore.ejb.OrderProcessRemote</remote>
        <ejb-link>eStore-EJB.jar#OrderProcessBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/ProductProcessBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.azri.estore.ejb.ProductProcessRemoteHome</home>
        <remote>org.azri.estore.ejb.ProductProcessRemote</remote>
        <ejb-link>eStore-EJB.jar#ProductProcessBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/ReviewProcessBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.azri.estore.ejb.ReviewProcessRemoteHome</home>
        <remote>org.azri.estore.ejb.ReviewProcessRemote</remote>
        <ejb-link>eStore-EJB.jar#ReviewProcessBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/OrderProcessBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.azri.estore.ejb.OrderProcessRemoteHome</home>
        <remote>org.azri.estore.ejb.OrderProcessRemote</remote>
        <ejb-link>eStore-EJB.jar#OrderProcessBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/ProductProcessBean2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.azri.estore.ejb.ProductProcessRemoteHome</home>
        <remote>org.azri.estore.ejb.ProductProcessRemote</remote>
        <ejb-link>eStore-EJB.jar#ProductProcessBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/OrderProcessBean2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.azri.estore.ejb.OrderProcessRemoteHome</home>
        <remote>org.azri.estore.ejb.OrderProcessRemote</remote>
        <ejb-link>eStore-EJB.jar#OrderProcessBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/CompanyProcessBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.azri.estore.ejb.CompanyProcessRemoteHome</home>
        <remote>org.azri.estore.ejb.CompanyProcessRemote</remote>
        <ejb-link>eStore-EJB.jar#CompanyProcessBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/CompanyProcessBean2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.azri.estore.ejb.CompanyProcessRemoteHome</home>
        <remote>org.azri.estore.ejb.CompanyProcessRemote</remote>
        <ejb-link>eStore-EJB.jar#CompanyProcessBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/PostageProcessBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.azri.estore.ejb.PostageProcessRemoteHome</home>
        <remote>org.azri.estore.ejb.PostageProcessRemote</remote>
        <ejb-link>eStore-EJB.jar#PostageProcessBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/PostageProcessBean2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.azri.estore.ejb.PostageProcessRemoteHome</home>
        <remote>org.azri.estore.ejb.PostageProcessRemote</remote>
        <ejb-link>eStore-EJB.jar#PostageProcessBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/ProductProcessBean3</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.azri.estore.ejb.ProductProcessRemoteHome</home>
        <remote>org.azri.estore.ejb.ProductProcessRemote</remote>
        <ejb-link>eStore-EJB.jar#ProductProcessBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/ProductProcessBean4</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.azri.estore.ejb.ProductProcessRemoteHome</home>
        <remote>org.azri.estore.ejb.ProductProcessRemote</remote>
        <ejb-link>eStore-EJB.jar#ProductProcessBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/CategoryProcessBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.azri.estore.ejb.CategoryProcessRemoteHome</home>
        <remote>org.azri.estore.ejb.CategoryProcessRemote</remote>
        <ejb-link>eStore-EJB.jar#CategoryProcessBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/CustomerProcessBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.azri.estore.ejb.CustomerProcessRemoteHome</home>
        <remote>org.azri.estore.ejb.CustomerProcessRemote</remote>
        <ejb-link>eStore-EJB.jar#CustomerProcessBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/CustomerProcessBean2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.azri.estore.ejb.CustomerProcessRemoteHome</home>
        <remote>org.azri.estore.ejb.CustomerProcessRemote</remote>
        <ejb-link>eStore-EJB.jar#CustomerProcessBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/PostageProcessBean3</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.azri.estore.ejb.PostageProcessRemoteHome</home>
        <remote>org.azri.estore.ejb.PostageProcessRemote</remote>
        <ejb-link>eStore-EJB.jar#PostageProcessBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/OrderProcessBean3</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.azri.estore.ejb.OrderProcessRemoteHome</home>
        <remote>org.azri.estore.ejb.OrderProcessRemote</remote>
        <ejb-link>eStore-EJB.jar#OrderProcessBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/OrderProcessBean4</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.azri.estore.ejb.OrderProcessRemoteHome</home>
        <remote>org.azri.estore.ejb.OrderProcessRemote</remote>
        <ejb-link>eStore-EJB.jar#OrderProcessBean</ejb-link>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ejb/OrderProcessBean5</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <home>org.azri.estore.ejb.OrderProcessRemoteHome</home>
        <remote>org.azri.estore.ejb.OrderProcessRemote</remote>
        <ejb-link>eStore-EJB.jar#OrderProcessBean</ejb-link>
    </ejb-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/CategoryBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <local-home>org.azri.estore.ejb.CategoryLocalHome</local-home>
        <local>org.azri.estore.ejb.CategoryLocal</local>
        <ejb-link>eStore-EJB.jar#CategoryBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/CompanyBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <local-home>org.azri.estore.ejb.CompanyLocalHome</local-home>
        <local>org.azri.estore.ejb.CompanyLocal</local>
        <ejb-link>eStore-EJB.jar#CompanyBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ejb/PostageBean</ejb-ref-name>
        <ejb-ref-type>Entity</ejb-ref-type>
        <local-home>org.azri.estore.ejb.PostageLocalHome</local-home>
        <local>org.azri.estore.ejb.PostageLocal</local>
        <ejb-link>eStore-EJB.jar#PostageBean</ejb-link>
    </ejb-local-ref>
    </web-app>
